@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap");
* {
  font-family: "Roboto", sans-serif;
}

body {
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

.header {
  height: 60px;
  width: 100%;
  background-color: white;
  padding: 20px;
  margin-top: -10px;
  box-shadow: 0 0 4px #50514F;
  position: fixed;
  top: 0;
  left: 0;
}
.header h2 {
  color: #47A8BD;
}
.header ul {
  text-decoration: none;
  list-style-type: none;
  display: flex;
}
.header ul li {
  margin-left: 20px;
}
.header ul li button {
  color: #47A8BD;
}

.intro {
  margin-top: 90px;
  padding: 20px;
  height: 400px;
  color: white;
  text-align: center;
  background-color: #47A8BD;
  width: 100%;
}
.intro h1 {
  font-size: 3em;
  margin-top: 150px;
}
.intro h2 {
  font-size: 2em;
  margin-top: -20px;
}

.skills {
  padding: 20px;
  background-color: #50514F;
  color: white;
  text-align: center;
  width: 100%;
}
.skills h1 {
  font-size: xx-large;
}
@media (max-width: 1100px) {
  .skills .grid {
    display: block;
  }
}
@media (min-width: 1100px) {
  .skills #grid-langs {
    margin-left: -190px;
  }
  .skills #python {
    grid-column: 1/4;
    grid-row: 1/1;
    text-align: center;
  }
  .skills #js {
    grid-column: 2/4;
    grid-row: 1/1;
    text-align: center;
  }
  .skills #csharp {
    grid-column: 3/4;
    grid-row: 1/1;
    text-align: center;
  }
  .skills #dart {
    grid-column: 4/4;
    grid-row: 1/1;
    text-align: left;
    margin-left: -130px;
  }
  .skills #dart p {
    margin-left: 60px;
  }
  .skills #grid-tools {
    margin-left: -240px;
  }
  .skills #aspnet {
    grid-column: 1/4;
    grid-row: 1/1;
    text-align: center;
  }
  .skills #svelte {
    grid-column: 2/4;
    grid-row: 1/1;
    text-align: center;
    margin-left: -80px;
  }
  .skills #sass {
    grid-column: 3/4;
    grid-row: 1/1;
    text-align: center;
  }
  .skills #bottle {
    grid-column: 4/4;
    grid-row: 1/1;
    text-align: left;
    margin-left: -90px;
  }
  .skills #bottle p {
    margin-top: 45px;
    margin-left: 80px;
  }
}

.projects {
  background-color: #F7F0F0;
  width: 100%;
  padding: 20px;
  text-align: center;
}
.projects h1 {
  font-size: xx-large;
}
.projects #journal {
  text-align: left;
  border: 1px solid #50514F;
  padding: 10px;
  margin-bottom: 15px;
}
.projects #weather {
  text-align: left;
  border: 1px solid #50514F;
  padding: 10px;
  margin-bottom: 15px;
  margin-right: 20px;
}
.projects #blueshift {
  text-align: left;
  border: 1px solid #50514F;
  padding: 10px;
  margin-bottom: 15px;
}
.projects #portfolio {
  text-align: left;
  border: 1px solid #50514F;
  padding: 10px;
  margin-bottom: 15px;
}
.projects .button-secondary {
  color: white;
}
.projects .button-clear {
  color: black;
  background-color: #F7F0F0;
}
@media (min-width: 1100px) {
  .projects #journal {
    grid-row: 1/2;
    grid-column: 1/2;
    margin-right: 20px;
    display: grid;
  }
  .projects #journal #journal-a {
    grid-row: 1/1;
    grid-column-start: 1/3;
    grid-column-end: 2/3;
  }
  .projects #journal #journal-b {
    grid-column: 3/3;
    margin-top: 60px;
  }
  .projects #weather {
    grid-row: 1/2;
    grid-column: 2/2;
    margin-right: 40px;
    display: grid;
  }
  .projects #weather #weather-a {
    grid-row: 1/1;
    grid-column-start: 1/3;
    grid-column-end: 2/3;
  }
  .projects #weather #weather-b {
    grid-column: 3/3;
    margin-top: 60px;
  }
  .projects #blueshift {
    grid-row: 2/2;
    grid-column: 1/2;
    display: grid;
    margin-right: 20px;
  }
  .projects #blueshift #blueshift-a {
    grid-row: 1/1;
    grid-column-start: 1/3;
    grid-column-end: 2/3;
  }
  .projects #blueshift #blueshift-b {
    grid-column: 3/3;
    margin-top: 60px;
    text-align: right;
    margin-right: 20px;
  }
  .projects #portfolio {
    grid-row: 2/2;
    grid-column: 2/2;
    display: grid;
    margin-right: 40px;
  }
  .projects #portfolio #portfolio-a {
    grid-row: 1/1;
    grid-column-start: 1/3;
    grid-column-end: 2/3;
  }
  .projects #portfolio #portfolio-b {
    grid-column: 3/3;
    margin-top: 60px;
    text-align: right;
    margin-right: 20px;
  }
}
@media (max-width: 1100px) {
  .projects #journal, .projects #weather, .projects #blueshift, .projects #portfolio {
    margin-right: 40px;
    padding-bottom: 20px;
  }
}

.footer {
  background-color: #2E1F27;
  padding: 20px;
  color: white;
  width: 100%;
  display: grid;
}
@media (min-width: 1100px) {
  .footer #footer-a {
    grid-row: 1/1;
    grid-column: 1/2;
  }
  .footer #footer-b {
    grid-row: 1/1;
    grid-column: 2/2;
    text-align: right;
    margin-top: 25px;
    margin-right: 40px;
  }
  .footer #footer-b a {
    color: white;
    text-decoration: none;
  }
}

.button-clear {
  border: none;
  border-radius: 5px;
  font-weight: 500;
  font-size: large;
  padding: 10px;
  text-decoration: none;
  background-color: white;
}

.button-clear:hover {
  cursor: pointer;
  background-color: #47A8BD;
  color: white;
  transition: 0.3s;
}

.button-secondary {
  border: none;
  border-radius: 5px;
  font-weight: 500;
  font-size: large;
  padding: 10px;
  text-decoration: none;
  background-color: #D62246;
}

.button-secondary:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.grid {
  display: grid;
}

.title {
  grid-column: 1/5;
}

.links {
  grid-column: 5/5;
}

#close {
  display: none;
}

@media (min-width: 1100px) {
  .header ul {
    margin-left: 40%;
  }

  .link {
    display: block;
  }

  .mobile-link {
    display: none;
  }
}
@media (max-width: 1100px) {
  .link {
    display: none;
  }

  .mobile-link {
    display: block;
    margin-right: 15px;
  }
}

/*# sourceMappingURL=style.css.map */
